.prompt-container {
    text-align: center;
}

.prompt-input {
    border: 1px gray solid;
    box-shadow: 0 0 5px 1px gray;
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.prompt-input textarea {
    border: none;
    background: none;
    height: 2.5em;
    padding: 1px 20px;
    width: 80%;
    resize: vertical;
}

.prompt-input textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.prompt-input button {
    position: absolute;
    background-color: gray;
    border-radius: 50%;
    border: 1px black solid;
    width: 2rem;
    height: 2rem;
    right: 10px;
    bottom: 5px;
}

.prompt-media {
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 0;
}

.prompt-media span {
    cursor: pointer;
    margin: 0 10px 0 0;
}